:root {
    --background-dropdowns-white: #fff;
    --background-dropdowns-shadow: rgba(0, 0, 0, 0.1);
    --background-dropdowns-light: #BAD8F5;
    --background-dropdowns-medium: #459DF5;
}

._ {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 2.5rem;
    right: 0.5rem;
    width: 10rem;
    height: 5.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-dropdowns-white);
    box-shadow: 0 0.5rem 2rem var(--background-dropdowns-shadow), 0 0.25rem 0.5rem var(--background-dropdowns-shadow), 0 0.125rem 0.125rem var(--background-dropdowns-shadow);
}

.hidden {
    display: none;
}

.control {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    border: 0;
    width: 100%;
    padding: 0;
    font-size: 0.8125rem;
    background-color: inherit;
    outline: 0;
}

.input::placeholder {
    color: var(--background-dropdowns-light);
}

.title {
    display: flex;
    line-height: 1rem;
    font-size: 0.8125rem;
    margin-bottom: 0.5rem;
}

.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    border: 0.0625rem solid var(--background-dropdowns-medium);
    border-radius: 0.25rem;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    line-height: 1rem;
    background-color: var(--background-dropdowns-white);
}

.inputWrapper:focus-within {
    box-shadow: 0 0 0.5rem var(--background-dropdowns-light);
}

.inputWrapper:active {
    border-color: var(--background-dropdowns-medium);
}